@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'Formula1';
    src: url('assets/Formula1-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1';
    src: url('assets/Formula1-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Formula1';
    src: url('assets/Formula1-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1';
    src: url('assets/Formula1-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1 Wide';
    src: url('assets/Formula1-Wide.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

#root {
    width: 100dvw;
}

.formula-1 {
    font-family: "Formula1", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.formula-1-italic {
    font-family: "Formula1", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.formula-1-bold {
    font-family: "Formula1", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.formula-1-bold-italic {
    font-family: "Formula1", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.formula-1-black {
    font-family: "Formula1", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.formula-1-wide {
    font-family: "Formula1 Wide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titillium-200 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.titillium-300 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.titillium {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titillium-600 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.titillium-700 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.titillium-900 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.titillium-it-200 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.titillium-it-300 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.titillium-it {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.titillium-it-600 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.titillium-it-700 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: italic;
}
